:root{
    
    --Carbon-credit-1 : #000000;
    --Carbon-credit-2 : #07fce6;
    --Carbon-credit-3 : rgba(35, 33, 33, 0.62);
    --Carbon-credit-4 : #A6BF49; 
    --Carbon-credit-5 : #593F28; 
    --Lavandes®-1-hex : #00ff00;
    --Lavandes®-5-hex : #12ff02;

}

