:root{
    
    --Carbon-credit-1 : #42592A;
    --Carbon-credit-2 : #07fce6;
    --Carbon-credit-3 : #708C32; 
    --Carbon-credit-4 : #A6BF49; 
    --Carbon-credit-5 : #593F28; 
    --Lavandes®-1-hex : #00ff00;
    --Lavandes®-5-hex : #12ff02;

}

