:root{
    
    --Carbon-credit-1 : #42592A;
    --Carbon-credit-2 : #3C590F; 
    --Carbon-credit-3 : #708C32; 
    --Carbon-credit-4 : #A6BF49; 
    --Carbon-credit-5 : #593F28; 
    --Lavandes®-1-hex : #0D0C0D; 
    --Lavandes®-5-hex : #262626; 

}

